* {
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: rgb(221, 35, 91);
}

body {
    background-image: url('https://images.unsplash.com/photo-1587235442321-2e40ff7f7618?q=80&w=2069&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
}

.container {
    margin: 0 auto;
    margin-top: 30px;
    width: 40%;
    border: 2px solid rgb(221, 35, 91);
    border-radius: 10px;
    padding: 10px;
    background-color: white;
    opacity: 0.8;
}

input {
    margin-bottom: 10px;
    margin-right: 5px;
    border: 2px solid rgb(221, 35, 91);
}

.input_field {
    width: 40%;
    padding: 7px 5px;
    border-radius: 5px;
}

.button {
    margin-top: 10px;
    cursor: pointer;
    font-size: 15px;
    width: 25%;
    background-color: rgb(221, 35, 91);
    color: white;
}

.button:hover {
    background-color: white;
    color: rgb(221, 35, 91);
}

img {
    width: 50px;
    height: 50px;
}

#priceOutput p {
    font-size: 16px;
}

#rose, #lily, #gerbera {
    width: 50%;
}

@media only screen and (max-width: 600px) {
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 600px) and (max-width: 800px) {
    .container {
        width: 60%;
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .container {
        width: 50%;
    }
}

@media only screen and (min-width: 1200px) {
    .container {
        width: 30%;
    }
}